# Default values for PinkPoint.ClimbingRoutes.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: docker.pkg.github.com/lehmamic/pinkpoint/climbing-routes
  tag: #{app-version}
  pullPolicy: Always