<ion-header>
  <ion-toolbar>
    <ion-title>ClimbingSites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let site of (climbingSitesState$ | async).data">
      <ion-label>
        <h2>{{ site.name }}</h2>
        <b>{{ site.address.state }}</b> {{ site.address.postCode + " " + site.address.city}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" [disabled]="(climbingSitesState$ | async).allDataLoaded" [appTrackLoading]="'QUERY_CLIMBING_SITES'" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more climbing sites...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
